.a {
    background-image: url('../img/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    color: white;
    /*possition:relative;*/
    /*top: 100px;*/
}
  .ngina, img{
    text-align: center;
    position: relative;
    top: 250px;

}
body{
    overflow-x: hidden;
    text-align: center;
background-color: white;
}
.about{
    text-align: center;
color: black;
}
.services{
    text-align: center;
    color: black;

}
.britney{
    background-image: url("../img/s_image.jpg");
    height: 200px;
}
.b{

}
.row{
    height: 80px;
}
                                                                                                                                                                        </figure>
.col-md-2{
    margin: 5px;
    border: 1px solid #cccccc;
    float: left;
    width: 180px;
    padding: 10px;

                   }                                                                                                                                                                              color: black                                                                                                                                                       }                                                                                                                                                                          </figure>

.jay{
    background-image: url(''../img/c_image.jpg'');
    background-color: white;
    background-repeat: no-repeat;